@import 'hack-subset.scss';

body {
    font-family     : 'Hack';
    background-color: black;
    color           : lightgray;

    margin-left: 5em;
}

a {
    color: green;
}

ul {
    list-style  : none;
    margin-left : 0;
    padding-left: 0;
}

li {
    padding-left: 2.5em;
    text-indent : -1em;
}

li:before {
    content      : "*";
    padding-right: 5px;
}